<nav class="z-30 w-full px-3 py-2">
  <div class="container mx-auto flex justify-between items-center">
  <a
    class="{{ 'font-sans text-white hover:text-purple-400 text-3xl' if page.url == '/' }}"
    href="/"
  >
    Andrew Y. Lee
  </a>
  <a
    class="{{ 'text-white' if page.url == '/about/' }}"
    href="/about"
  >
    About
  </a>
</div>
</nav>
<!-- component -->
<!-- Dark Header component -->
 <!-- Fontswesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
